# filtlog.conf.example - example configuration file for filtlog

# num_pages represents the number of pages to display in the output.  To specify
# that all pages should be displayed in the output, use a value less than or
# equal to 0.  filtlog will only display the top N results (by number of page
# views), including their associated referers, where N is the value of
# num_pages.  As an example, using filtlog with num_pages = 2 and
# num_referers = 3 will give output like the following:
#
# 874     /?p=172 Vimeo Downloader 0.1 released
#     230     -
#     75      http://ossguy.com/?p=172
#     13      http://www.google.com/search?q=vimeo+downloader&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a
# 846     /
#     616     -
#     21      http://ossguy.com/?p=266
#     14      http://ossguy.com/?p=226
#
num_pages = 0

# num_referers represents the number of referers per page to display in the
# output.  To specify that all referers should be displayed in the output, use a
# value less than or equal to 0.  filtlog will only display the top M referers
# (by number of referrals for a given page) for each page, where M is the value
# of num_referers.
num_referers = 0

# bot_ids is a list of user agent substrings for user agents that should be
# ignored in the results, such as search engine bots.  If the substring matches
# any part of a given user agent, accesses from that user agent will not appear
# in the results.  For example, "Mozilla/5.0 (compatible; Googlebot/2.1;
# +http://www.google.com/bot.html)" will be matched by one of the substrings
# listed below: 'http://www.google.com/bot.html'.  Feel free to submit updates
# to this list to the filtlog maintainer (see the README file).
#
# To determine which user agents might be bots, run user_agents.rb on your log
# files.  This will show you the user agents that most often access your web
# site.  Adding high-ranking bots from there to this list will improve the
# accuracy of filtlog's results by increasing the percentage of hits initiated
# by real people that appear in the results.
bot_ids = [
	'http://help.yahoo.com/help/us/ysearch/slurp',
	'http://www.google.com/bot.html',
	'http://search.msn.com/msnbot.htm',
	'http://www.majestic12.co.uk/bot.php',
	'http://www.baidu.com/search/spider.htm',
	'http://spinn3r.com/robot',
	'support.voilabot@orange-ftgroup.com',
	'http://about.ask.com/en/docs/about/webmasters.shtml',
	'msnbot',
	'crawler@netseer.com',
	'http://WebDataCentre.com/',
	'vertical-crawl-support@yahoo-inc.com',
	'http://www.cuil.com/twiceler/robot.html',
	'http://www.youdao.com/help/webmaster/spider/',
	'http://www.similarpages.com'
]

# Any pages whose names start with an element of ignore_prefixes will not be
# included in the filtlog results output.  This can be useful for removing
# frequently-accessed but uninteresting (to the web site owner) parts of a web
# site like robots.txt or favicon.ico.  This list is likely to be highly
# web site-specific.
ignore_prefixes = [
	'/?feed=',
	'/wp-',
	'/favicon.ico',
	'/avatar',
	'/robots.txt',
	'/css'
]

# page_names maps page names to their descriptions.  These are displayed in the
# filtlog results next to the page name.  This can be useful for showing the
# titles of blog articles or other parts of a web site that have a nondescript
# page name.
page_names = {
	'/?p=284'	=> 'dynamic_fgets: Reading long input lines in C',
	'/?p=266'	=> 'Moonlight and the Microsoft Media Pack',
	'/?p=257'	=> 'Libre x86 C compilers for Unix-like systems',
	'/?p=252'	=> 'Evaluating codec freedom',
	'/?p=247'	=> 'TEDTalks Downloader 0.1 released',
	'/?p=233'	=> 'The codec dilemma',
	'/?p=226'	=> 'Why Flash is doomed',
	'/?p=206'	=> 'What\'s on a CharlieTicket magnetic stripe',
	'/?p=196'	=> 'Backing up your DreamHost data',
	'/?p=187'	=> 'Blip Unembed 0.1 released',
	'/?p=183'	=> 'OLPC Give One, Get One on now',
	'/?p=172'	=> 'Vimeo Downloader 0.1 released',
	'/?p=153'	=> 'Flash required for Gmail voice and video chat',
	'/?p=145'	=> 'Why I haven’t installed a Flash player',
	'/?p=128'	=> 'Ideas for a better programming language',
	'/?p=121'	=> 'StarCraft Power Saver 0.3 released',
	'/?p=108'	=> 'Lessig, others: There is more to the world than just the USA',
	'/?p=101'	=> 'Positive change: Green Party on copyright',
	'/?p=86'	=> 'Clarifying the restrictions on DVD playback',
	'/?p=80'	=> 'StarCraft Power Saver 0.2 released',
	'/?p=27'	=> 'OLPC XO and ASUS Eee PC SD card performance'
}

# Any accesses made with a referer in this list will not be included in the
# filtlog results output.  This can be useful for removing results made by
# spammers that clutter the output, such as long referers containing several
# comma-separated URLs.  This list is likely to be highly web site-specific.
ignore_referers = [
	', '
]
